.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.course {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT6P84TxGpsUc6hJoRSeT8GfmW99sHT_n0ADYMtdYiPkdfYhRU-")
    repeat-y;
  color: red;
  width: 110px;
  height: 110px;
  margin: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
